[2021-08-16 17:10] VictoriqueMoe opened #31 "Adding @Guard to a method with @On("messageUpdate") causes exception on each slash when editReply is used"
**Describe the bug**
When you use `interaction.editReply` on a `@Slash` command, and you have a method elsewhere annotated with `@On("messageUpdate")` and that also contains a guard, an error is thrown each time you use the slash command:

[code]

It would seem it is trying to execute a decorator, but the decorator function that is compiled is null.
As calling `editReply` will internally trigger a

[2021-08-16 17:53] #31 closed

[2021-10-25 15:45] Satont opened #168 "[Bug]: ButtonComponent without id was not produced"
### What happened?

[code]

  Was not produced

### Reproduction

[code]

^ there customId will be logged

[code]

there `console.log('processing')` will be never called.

### Version

Stable

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-25 16:40] #168 closed, assigned to vijayymmeena

[2021-11-07 00:30] CWSpear opened #210 "[Bug]: No ability to propose a feature on GitHub"
### What happened?

The contributing guidelines mention "Proposing new features," but there are only templates for reporting a but or a security vulnerability.

**Expected:** I can go to Issues and propose a feature via a feature template.

**Actual:** If I want to propose a feature, I have to use a bug/security template.

### Reproduction

Go to Issues. See that there isn't a feature (or blank) t

[2021-11-07 00:30] CWSpear opened #211 "[Feature]: Interaction event matching"
### What happened?

I have a scenario where you can do a search to display an image of one of 100s of cards. Sometimes there are multiple matches (there are even similar versions of the card with the exact same name), and so I dynamically display buttons so that you can choose the best match.

The problem I'm facing, is I don't have a way to know which card was selected in this scenario. My old ve

[2021-11-07 05:41] oceanroleplay commented on #211
you should prefer `@On` wrapper for this task. since customid is not fixed.

[2021-11-07 05:43] oceanroleplay commented on #210
I would prefer to use GitHub discussion with category idea, since that would be right place for a discussion.

[2021-11-07 05:48] oceanroleplay commented on #211
however, will see if it's possible to add regex support 😉

[2021-11-07 09:51] CWSpear commented on #210
I'm not familiar with Discussions. I don't know anyone else that uses it. And I didn't see anything in Contributing. I'll try and check over there, tho. Thanks.

[2021-11-07 09:51] #210 closed

[2021-11-07 12:24] oceanroleplay commented on #211
Added regex support for button/selectmenu decorators, this would resolve many common case for developers.

[2021-11-07 12:24] #211 closed

[2021-11-07 12:24] Satont commented on #211
Thats what i'm also asked for once in discord, thank you!

[2021-11-08 03:46] ameliakiara opened #212 "[Bug]: Error at Pagination when using (ephermeral)"
### What happened?

So im trying to make queue pagination and i set the pagnation to `ephermeral: true` then i set the time for 10s. And im using `onPaginationTimeout` after the time run out  error happened

Code and Error Logs is below

### Reproduction

https://sourceb.in/DoW5mxm6Ap

### Relevant log output

[code]

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

[2021-11-08 04:08] oceanroleplay commented on #212
I have tested below code, and issue could not confirmed.

[code]

are you sure, the mentioned issue with lib?

[2021-11-08 04:14] ameliakiara commented on #212
@oceanroleplay can you test using `epheremal` set to `true`?

[2021-11-08 04:16] oceanroleplay commented on #212
yes, I think issue is confirmed, will now see, this is the lib or discord. will update you soon.

[2021-11-08 04:18] ameliakiara commented on #212
@oceanroleplay alright, thank you for your reply

[2021-11-08 04:43] oceanroleplay commented on #212
@ameliakiara could you update the reason of close?

[2021-11-08 05:01] oceanroleplay commented on #212
I am gonna reopen this, since this is a verified issue.

[2021-11-08 07:34] ameliakiara commented on #212
@oceanroleplay Sorry, wrong click

[2021-11-08 12:13] #212 closed

[2021-11-08 12:16] oceanroleplay commented on #212
1. Ephemeral message can not be deleted.
2. Can not edit or alter message received with ephemeral response. (not sure if that is djs or discord but it's it that way)

some features will not work exactly in ephemeral mode. so be aware about that.

[2021-11-08 17:49] ohmree opened #218 "[Bug]: can't pass classes to client constructor with "type": "module""
### What happened?

I'm working on an esm-only project (one of my dependencies requires it and it's viral so I must use it too) and tried passing a glob that's used to find `@Discord()` classes.

Node complains about `require` not being supported with `"type": "module"` (I believe [this is the problematic code](https://github.com/oceanroleplay/discord.ts/blob/7043e1444e04e955e33651980a0aa67ce0f04c

[2021-11-08 18:07] VictoriqueMoe commented on #218
In order to prepare for TypeScript 4.5, we need to remove all `require` statements unless defined in a `.cts` file and compiled with TS 4.5.

All imports should define filetype:
`import { helper } from "./foo.js";`
OR
`import foo from "./foo.cjs";` for a Common JS import.

Work is required to change this, especially globbing,

for example for glob:
`import {glob} from "glob";`

[2021-11-08 18:09] VictoriqueMoe commented on #218
to add to this:
`imports.forEach((file) => require(file));` can become:
[code]

[2021-11-08 18:11] VictoriqueMoe commented on #218
@oceanroleplay i would add this to the project for Discordx 9.0

[2021-11-08 18:32] ohmree commented on #218
What about passing the actual imported classes instead of glob strings? Is that a planned feature or was it removed for a reason?

[2021-11-08 18:35] VictoriqueMoe commented on #218
passing the actual class? you mean hard coding them? glob isn't an issue, i should fix this tonight for you

[2021-11-08 18:35] ohmree commented on #218
Something like this:
[code]

[2021-11-08 18:37] VictoriqueMoe commented on #218
because hard coding a massive list of files is a pain, and importing them all at startup can cause serious circular dependency issues

[2021-11-08 18:40] VictoriqueMoe commented on #218
been meaning to fix this for a while. i will raise a PR tonight and hopefully get this sorted for ES modules only people (assuming DJS or any module from any plugin we use doesn't have a `require` statement) and if it does, then we will have to wait until TS 4.5, i have this issue with NodeFetch

[2021-11-08 19:44] oceanroleplay commented on #218
@ohmree one question. you are trying to work on esm only project but you should know that, discordx and discord.js are commonjs modules.

[2021-11-08 19:51] ohmree commented on #218
Idk, I just write code like I normally would and fix it whenever the compiler yells at me.
Sometimes (like with discordx and prisma iirc) I need to change this:
[code]
Into something like this:
[code]
And then everything just works™️

[2021-11-08 20:05] VictoriqueMoe commented on #218
given the config of:

[code]
in `package.json` then applying:
[code]
in `tsconfig.json`

It seems rather hard to get a PURE ES node working in discordx. not alone the strange errors i get like `CustomError: Cannot find module 'C:\Users\Victorique\IdeaProjects\discord.ts\src\Client' imported from C:\Users\Victorique\IdeaProjects\discord.ts\examples\slash\Main.ts` using `node --loader ts-node/esm ex

[2021-11-08 20:22] ohmree commented on #218
I'm not quite sure I get you.
Previously (with `@typeit/discord`) I would just import the classes and do `new Client({classes: [Discord1, Discord2, ...]})` and it worked fine under a pure esm environment with this config:
[code]
[code]
I'd like to look into this so if you could set up a small reproduction repo it'd be really nice.
Unless you're 100% sure typescript is the blocker here, in which ca

[2021-11-09 02:04] ameliakiara commented on #212
I see, thank you for your help

[2021-11-09 05:53] oceanroleplay commented on #218
you can just import all the files in your index and don't use classes, it will work the same.

[2021-11-09 05:54] oceanroleplay commented on #218
I am not sure, how pure esm project work with commonjs dependencies.

[2021-11-09 05:59] oceanroleplay commented on #218
@VictoriqueMoe at final thinking, we can not target the project to esm.

@ohmree I could not reproduce the error mentioned in this issue, can you provide full code to reproduce this.?

[2021-11-09 07:05] oceanroleplay commented on #218
importing files like this work for me

[code]

[2021-11-09 07:17] oceanroleplay commented on #218
Mentioned improvement has been pushed to main

[2021-11-09 08:31] oceanroleplay commented on #218
I tried, but I don't think a pure ESM package can be created with commonjs dependencies. so I am gonna close this issue for now and whenever in future it is possible to change our module to commonjs, we will do it without delay. But it's not the time.

[2021-11-09 19:38] oceanroleplay commented on #218
pardon me, this should be resolve.

[2021-11-09 19:39] oceanroleplay commented on #218
@ohmree can you join our discord server for more talk?

[2021-11-10 12:23] #218 closed

[2021-11-10 12:25] oceanroleplay commented on #218
While testing ESM support, I discovered that discordjs voice was not yet supported by ESM, so keep an eye out for that.

[2021-11-11 22:32] oceanroleplay commented on #210
now added a issue template as well. https://github.com/oceanroleplay/discord.ts/issues/new/choose

[2021-11-11 22:38] CWSpear commented on #210
Nice. Thanks!

[2021-11-12 16:31] CWSpear opened #233 "[Bug]: CJS builds: "Cannot find module 'file:///path/to/class.ts' from 'src/logic/metadatas/MetadataStorage.ts'""
### What happened?

The code assumes ESM and prepends `file://` to file paths before trying to `import` them. This does not work in CJS.

### Reproduction

[code]

Trying to run the above code with the CJS will compile and run, but at runtime, `MetadataStorage.ts` will try to load it by prepending `file://` to the path name, and so it crashes.

We'll need to find a way to dynamically handle this..

[2021-11-12 16:32] CWSpear commented on #233
It's also probably worth having automated tests that test CJS code, since that's the most common way people are probably going to use the code as of right now.

[2021-11-12 19:42] oceanroleplay commented on #233
looks like, I can't find a a import solution with work on esm and cjs at the same time.

[2021-11-12 20:25] CWSpear commented on #233
Well, this is what I'm doing to get it worker for now:

in `Dockerfile`:
[code]
`fixes.js`:
[code]

The `import` is okay--that's not `esm`-specific. It's trying to load a path `file://` at the start that's killing it.

[2021-11-12 20:27] oceanroleplay commented on #233
well, I looked for every possible solution, I don't think their is one for this issue.

[2021-11-12 20:46] CWSpear commented on #233
It's hacky, but #234 gives you a way to programmatically know if you're in CJS. It causes CJS-specific test that _was_ failing with this same error to pass.

`npm link`ed it to my local project, and it was able to build and run.

[2021-11-12 20:48] oceanroleplay commented on #233
this issue is not related to this lib, it's related to glob. glob lib is written in esm and esm support file protocol only, hence this should be a issue with glob only to provide absolute paths

[2021-11-12 20:51] CWSpear commented on #233
No... your CJS code can't support glob's CJS code. That sounds like it's definitely something on your end. Glob shouldn't need to support ESM so your CJS version can run in a CJS context.

[2021-11-12 20:54] oceanroleplay commented on #233
[code]

dynamic imports on node.js with esm, should have file protocol.

[2021-11-12 21:05] CWSpear commented on #233
Yeah, and in the ESM version, it still will. It only removes the `file://` in the CJS version.

[2021-11-12 21:10] oceanroleplay commented on #233
yes, but the issue is this lib does not know when to add this prefix or not. This can be fixed with postfix script, just like in your PR. but for now, we are dropping the classes field with breaking change. so this will be not part of this package anymore.

the reason, why I choose to remove is, we are now maintaining codebase for cjs and esm at the same time. critical issues that can impact this

[2021-11-12 21:11] CWSpear commented on #233
I'm confused... what does Node 12 have to do with anything? This library only supports Node 16+, so we can pretty safely expect everyone to use a version higher than Node 12.

What does TypeScript add that helps here?

[2021-11-12 21:12] oceanroleplay commented on #233
https://github.com/microsoft/TypeScript/issues/43329

[2021-11-12 21:13] CWSpear commented on #233
That doesn't make it work with `import('file://...')` paths. The `import` is already left alone and working in in the CJS code. Unfortunately, this change isn't really relevant here. :(

[2021-11-12 21:17] oceanroleplay commented on #233
indeed, that is why decided to remove the field instead.

[2021-11-12 22:18] VictoriqueMoe commented on #233
You can't satisfy pure esm and cjs at the same time unless you use ts4.5

This is why projects like mode fetch went pure esm and can't be used with cjs unless you use version 2.x

[2021-11-12 22:19] oceanroleplay commented on #233
this can't be resolved with ts4.5 as well

[2021-11-12 23:25] oceanroleplay commented on #233
since the classes is removed, devs can use [@discordx/importer](https://www.npmjs.com/package/@discordx/importer)

_Example usage_

[code]

future development regarding this will be done in importer package alone.

[2021-11-12 23:26] oceanroleplay commented on #233
@CWSpear I request you to please do tests in this build

[2021-11-12 23:42] oceanroleplay commented on #233
@CWSpear and use importer in your cjs project, we can't release any update untl djs 13.4 released.

[2021-11-13 01:30] oceanroleplay commented on #233
Issue will closed after ts4.5

[2021-11-13 02:08] oceanroleplay commented on #233
update: issue will be closed after djs v13.4, meantime use importer to resolve this issue in your project.

[2021-11-13 02:20] oceanroleplay commented on #233
Example for importer usage

[code]

[2021-11-13 17:23] oceanroleplay commented on #233
The importer is now have bunch of features that will make job easier then our deprecated classes field.

[2021-11-13 17:51] Satont opened #237 "[Bug]: Partialy update permissions on interactions."
### Feature?

I noticed i got error on command permissiions update. I'm interested does it on requests or limit at all.
[code]

If it's limited per requests might be good to partiallly send requests.

### Package

discordx

[2021-11-13 19:47] oceanroleplay commented on #237
I can't reproduce this issue.

[2021-11-13 19:48] oceanroleplay commented on #237
I tried like sending 14 permissions body to a command

[2021-11-13 19:53] Satont commented on #237
[code]

[code]

Thats how i getting this.

[2021-11-13 19:54] oceanroleplay commented on #237
only the final json output matter, I tried sending more than 10 permisisons in single request as error says, send 10 or fewer, can't reproduce it.

[2021-11-13 19:55] oceanroleplay commented on #237
Perhaps, you can raise this issue with djs instead, since this is not related to discordx?

[2021-11-13 19:56] Satont commented on #237
True. Anyway thank you.

[2021-11-13 21:01] oceanroleplay commented on #233
# Updated example

https://github.com/oceanroleplay/discord.ts-example/blob/main/src/client.ts#L45

[2021-11-14 22:45] oceanroleplay commented on #237
you can have upto 10 permissions per command. Hence you can not add more than 10.

[ref: discord doc](https://discord.com/developers/docs/interactions/application-commands#batch-edit-application-command-permissions)

[2021-11-14 22:45] #237 closed

[2021-11-22 15:25] #233 closed

[2021-12-06 01:03] tonyd33 opened #306 "[Bug]: TypeError when playing a Youtube song with @discordx/music"
### What happened?

When playing a song with `Queue.play`, nothing is played. Looking at the stacktrace, it seems like `Queue.processQueue` throws an error that's caught and it tries to emit an error, and tries to index `error.resource.metadata`, but that causes an error (See below). The problem seems to be twofold: the song isn't being played, and the error handling causes an error.

node version

[2021-12-06 07:11] oceanroleplay commented on #306
before testing the repo, yous need to move the Player object outside slash command. check music example for more details.

[2021-12-06 14:30] oceanroleplay commented on #306
please use [discord-music-bot](https://github.com/oceanroleplay/discord-music-bot) example and join our [discord server](https://discord.gg/yHQY9fexH9) for close discussion and support.

[2021-12-06 14:30] #306 closed

[2021-12-07 05:49] tonyd33 commented on #306
Thanks. I should have reached out on the discord server first; didn’t realize there was one. It might be helpful to reference the example in the music package’s README.

[2021-12-07 06:06] oceanroleplay commented on #306
Alright, will add discord server link on all our package's readme.

[2021-12-07 06:56] tonyd33 commented on #306
Ah sorry, my reply was confusing. I had meant adding the [music bot example](https://github.com/oceanroleplay/discord-music-bot) to the README, but that’s a good idea too

[2021-12-07 07:04] oceanroleplay commented on #306
still confusing, the bot example link is on readme but of discordx package, did you mean for @discordx/music?

[2021-12-07 07:57] tonyd33 commented on #306
Yeah. As far as I can tell, I didn't see any mention of it for @discordx/music but I see you just added it. Thanks.

[2021-12-23 09:12] Pho3niX90 opened #392 "[Bug]: rate limited on initApplicationCommands"
### What happened?

Switching over from discordts to discordx, I added slashes for the first time.

Upon deployment, I noticed I was rate limited before the operation completed (even in test environment).

### Reproduction

My scenario.

Add new slashes
Run bot (guilds 500+)
Get rate limited.
--------------------------------------------------------
My calcs are as follows, before rate limited
167

[2021-12-23 09:51] oceanroleplay commented on #392
such problems are related to discordjs and your usage apart from that, if you are using guild commands then it's not a good practice, you should use global commands, couldn't say much without more information, you can join our discord server and ask for support there.

[2021-12-23 09:51] #392 closed

[2021-12-23 10:19] Pho3niX90 commented on #392
Not using guild commands, they are global.

I disagree, the way the lib iterates and issues commands in `initApplicationPermissions` are triggering the rate limits.

This, for example, solves my issue.

[code]

[code]

[2021-12-23 11:10] oceanroleplay commented on #392
you said that you are not using but your code example is literally the opposite, you are clearly using guild commands and initiating them as well.

[2021-12-23 11:12] oceanroleplay commented on #392
and code order is not valid as well, you are initiating permissions before initiating guild commands which will result in error for newly registered command.

[2021-12-23 11:19] oceanroleplay commented on #392
but I do agree that race condition is not a good for lib, maybe it's better we remove it, this will likely to reduce few rate limits.

[2021-12-23 11:35] oceanroleplay commented on #392
btw @Pho3niX90 can you share the reate  limit logs for some information's, we never really tested the lib with this much guilds. so maybe few tests may help discover the issue.

[2021-12-24 00:01] Pho3niX90 commented on #392
Keep in mind, the solution I provided above was to get around the rate limiting, so after reviewing the helper methods that registers them in the same fashion, I decided to do the same, but just with a forced sleep, between guild setup.

Unless there is another method that doesn't iterate all guilds, checks their commands, issues a delete, issues a update, and then issues a create, then I could in

[2021-12-24 01:09] oceanroleplay commented on #392
the method iterate guilds only when there is guild commands, so please don't use guild commands use global command instead.

[2021-12-24 10:44] Pho3niX90 commented on #392
I see. I will investigate further, but this might be a problem again once I support "opt in" slashes, in that scenario, it would probably behave the same then once it needs to iterate again.

If I understand correctly, guild commands are those decorated with `@Guild`, if that is the case, I 100% do not have guild commands.

For example, take the below method straight out of the app. `initApplicati

[2021-12-24 11:38] oceanroleplay commented on #392
it's not necessary to use guild decorator always, it can be configured from client also, so you should join our discord server and get us know more informations, otherwise we can't help you on this.

[2021-12-28 16:28] rdmchr opened #408 "[Bug]: TS2322: Type 'true' is not assignable to type 'false | undefined' (@SlashOption())"
### What happened?

IntelliJ is telling me that I can not assign true to the required option for `@SlashOption()`.

### Reproduction

1. Create a new slash command
2. Add a slash option (I used this: `@SlashOption("song", {type: 'STRING', description: "Either a link or a search term.", required: true}) song: string`)
3. When you try to compile your code you should get a similar error to this one:

[2021-12-28 19:46] oceanroleplay commented on #408
@rdmchr in recent changes, we you can only define required property to false only, you no need to define the required argument with true value because that is default value.

[2021-12-28 19:55] rdmchr commented on #408
So if I want that option to be required, I just don't set any value?

[2021-12-28 19:56] oceanroleplay commented on #408
yes, no need to define required property because it's true in default nature.

however you can technically define `undefined`

[2021-12-28 20:15] #408 closed

[2022-01-01 13:35] Senexis opened #413 "[Feature]: Option to provide emoji to pagination buttons."
### Feature?

Hey there!

Just writing in to propose a method to provide emoji to pagination buttons. Currently, whatever text is provided is always provided to the `setLabel` method with no way to access the `setEmoji` method on the `MessageButtons`. As I would like to use icons to these buttons for pagination navigation, I would like to request an `emoji` property be added to the `ButtonOptions`

[2022-01-01 16:15] oceanroleplay commented on #413
Thanks for letting us know, I will do that as soon as possible.

[2022-01-01 17:14] oceanroleplay commented on #413
added in v1.1.0

[2022-01-01 17:14] #413 closed

[2022-01-02 20:16] multimeric opened #414 "Access the `@Discord()` class *instance* from decorator callback functions"
### Feature?

## Problem

Currently there are some callbacks that are defined in the annotator hooks, for example [`@SlashOption("foo", { autocomplete })
`](https://discord-ts.js.org/docs/decorators/commands/slashoption#params).

However, this only passes to the callback:

* The interaction (`AutoCompleteInteraction` class instance)
* The application (`DApplicationCommand` class instance)

We also

[2022-01-02 23:18] Satont commented on #414
You are using that in wrong way.

[code]

    this is an example. Do not use arrow function, also first argument of function is actually your class (this context). So just rname `AppDiscord1` to `Foo` example and it will works

[2022-01-02 23:20] Satont commented on #414
You can read docs (example) here https://discord-ts.js.org/docs/decorators/commands/slashoption#autocomplete-option

[2022-01-03 03:18] multimeric commented on #414
Thanks for the quick reply. However I don't think this is right. The type for the `autocomplete` option is defined here, and none of the arguments is the parent object:

https://github.com/oceanroleplay/discord.ts/blob/7238b63eed9dcf300939f47099cdf45cdaae0269/src/decorators/params/SlashOptionParams.ts#L54-L60.

Also when I try to debug their values, I get:

[code]
AutocompleteInteraction { ... }
D

[2022-01-03 03:54] oceanroleplay commented on #414
this is not a argument, I would recommend see more [at mozilla](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this), this is how JS works, so the answer to your question, you can use this and access class properties, just remember arrow function does not have this ability.

Join our discord server for more quick support and discussion. Thank you

[2022-01-03 03:54] #414 closed

[2022-01-03 04:13] multimeric commented on #414
Sorry, I didn't realise you were referring to the `this` binding, I thought you were saying it was passed as an argument. When I use a non-arrow-function it works. Thanks!

[2022-01-03 04:14] Satont commented on #414
You should name first arg of function as `this`, then it will be inherited.

[2022-01-03 04:18] multimeric commented on #414
Here's a fully working example, by the way:

[code]

[2022-01-16 16:55] VictoriqueMoe opened #455 "[Bug]: Setting a global prefix with more than 1 char causes simple commands to not execute"
### What happened?

When you set a prefix of more than one char on the `Client`, then the commands are never executed.

for example:

[code]

Then any `@SimpleCommand` is never executed

### Reproduction

1. Set prefix with more than 1 char on Clients `simpleCommand` prop
2. add a `@SimpleCommand`
3. Command not executed

### Package

discordx

### Version

Stable

### Relevant log output

_No res

[2022-01-16 16:57] VictoriqueMoe commented on #455
I would fix it but i am staying away from regex

[2022-01-16 17:41] #455 closed

[2022-02-12 03:06] oceanroleplay opened #508 "[Bug]: grouping does not work as expected"
### What happened?

Issue 1: below command is not created as expected either

[code]

Issue 2: defining groups at multilevel and on different files is hard method.

### Reproduction

https://github.com/oceanroleplay/discord.ts/tree/issue-group

### Package

discordx

### Version

Stable

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Con

[2022-02-13 00:39] ReevMich opened #513 "[Bug]: Type Error SlashOptionBase, `required` set to `false`"
### What happened?

A bug happened! Type error, build fails when using required options on slashOoptonsBase

### Reproduction

upgrade to project to latest discordX package.

go to any slash command and add required option and notice error pops up

### Package

discordx

### Version

Stable

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduc

[2022-02-13 03:36] oceanroleplay commented on #513
Please see #510

[2022-02-13 03:40] #508 closed

[2022-02-13 03:44] #513 closed

[2022-02-17 21:15] lolPants opened #528 "[Feature]: Use .fetch() instead of .resolve() for simple command args"
### Feature?

When using a simple command arg for a channel or user, the library internally uses `.resolve()` which will attempt to pull the target from the client's cache. This means if the target is not cached, `null` will be returned.

Unfortunately moving to use `.fetch()` would require async and some error handling logic. The other option would be to explicitly document the behaviour and ensu

[2022-02-17 21:32] oceanroleplay commented on #528
@lolPants have you encountered this issue?

[2022-02-17 21:33] VictoriqueMoe commented on #528
Agree, should check the cache.
https://discord.js.org/#/docs/discord.js/stable/typedef/BaseFetchOptions

The async handler and the exception is not an issue, any issue that happens during the internal resolution of DJS due to a propagation should be thrown back to the user.

You should never get null

[2022-02-17 21:41] lolPants commented on #528
@oceanroleplay yeah, was looking to port an old Discord.js v12 codebase to something more modern and ran into this issue pretty quickly.

[2022-02-17 21:43] VictoriqueMoe commented on #528
just an FYI, `@SimpleCommand` is a last case for a command that can not be used for Slash commands.

[2022-02-17 21:44] oceanroleplay commented on #528
sure thanks for reporting, This issue will be resolved very soon.

[2022-02-18 08:35] oceanroleplay commented on #528
@lolPants I request you review https://github.com/oceanroleplay/discord.ts/pull/529

If you think there can be more improvements, let me know.

[2022-02-18 15:04] oceanroleplay commented on #528
Install v9.3.0 for fix 🎉

[2022-02-18 21:10] lolPants commented on #528
Was a little busy today so didn't get around to a review, but all looks good!

Thanks for working on this 😄

[2022-02-25 09:20] oceanroleplay commented on #513
It's now reverted back to boolean! 👍

[2022-03-09 04:41] lolPants opened #576 "[Feature]: Ability to collect remaining text as a single arg"
### Feature?

Using current `SimpleCommandOptions` logic it doesn't seem possible to collect all remaining text as a single arg.

__Example Use Case__
Asking for a user and then a message (ie: target and ban reason)
[code]

This seems possible by abusing a custom arg splitter but this doesn't seem like an elegant way of going about it. An extra option on the `SimpleCommandOption` decorator to coll

[2022-03-09 10:33] oceanroleplay commented on #576
there is no simple way to determine multiple argument, hence, I would recommend to use plain argument and parse it manually,

btw only possible way to use something like

[code]

also join our discord server, where we can discuss this in depth.

[2022-03-09 11:25] #576 closed

[2022-04-16 14:17] bycop opened #636 "[Feature]: Restrict the page change to one or more Ids"
### Feature?

Hello,

this feature would allow to restrict the access to the page change to the ids present in an option when creating the pagination.
In my case, I make a statistics bot and I would like all users to see the embeds but only the author can change the page.
It would avoid the trolls who have fun clicking everywhere when a user does something to disturb the use.

If you need more det

[2022-04-18 16:24] oceanroleplay commented on #636
# closed in https://github.com/oceanroleplay/discord.ts/commit/24c39c24f92f7f253b40bf56003ee41898a4ed42

exposed collector, you can now use `filter` in options.

[2022-04-18 16:24] #636 closed

[2022-04-22 19:44] PoulpY2K opened #648 "[Bug]: Wrong import for discord_api_types in "build/*/decorators/classes/DApplicationCommand.d.ts""
### What happened?

After setting up the project using "create-discordx", I added the `@discordx/music` package and I tried to build a docker image via the Dockerfile, and I encountered the following error. Afterwards, I tried to run `npm run build` and I got the same error.

[code]

I checked the "discord-api-types" repo and it says we can **only** import the module by specifying the API version.

[2022-04-22 19:44] PoulpY2K commented on #648
I'm currently creating a PR to fix this issue, tell me if it is not needed.

[2022-04-23 01:24] oceanroleplay commented on #648
can't reproduce the issue.

[2022-04-23 01:35] PoulpY2K commented on #648
Weird, I tried multiple times on fresh projects and I always got the error. I'll check if it's not a problem on my side, but I noticed that when I add `@discordx/music` to the project, it changes the content of `node_modules/discord-api-types`.

Is it still useful that I complete the PR in your opinion?

[2022-04-23 01:58] VictoriqueMoe commented on #648
I have seen this issue too. it's 100% an issue as the official documentation states "You can only import this module by specifying the API version you want to target"

[2022-04-23 01:58] oceanroleplay commented on #648
could you reproduce?

[2022-04-23 01:59] VictoriqueMoe commented on #648
yes. and like i said, it's wrong. the PR solves this

[2022-04-23 02:01] VictoriqueMoe commented on #648
![image](https://user-images.githubusercontent.com/27996712/164863124-b2c55fca-8d94-46fd-98a2-42fd0c57c931.png)

[2022-04-23 02:03] oceanroleplay commented on #648
that's the issue with latest version of `discord-api-types`

[2022-04-23 02:08] oceanroleplay commented on #648
alrighty

[2022-04-23 02:10] VictoriqueMoe commented on #648
I fucking hate this api-types crap.
If we can just remove it totally that would be nice. do we even need it?

[2022-04-23 02:12] oceanroleplay commented on #648
only if discord.js do ``export * from "discord-api-types"``, so that we don't have to manage the same version they usage, it's useless they use it as hard code and don't se peer dep.

[2022-04-23 02:15] VictoriqueMoe commented on #648
from what i see, we just use it here:
[code]
can we not just remove the api types?

[2022-04-23 02:15] oceanroleplay commented on #648
I don't recall it completely, but it has error when strict type check used.

[2022-04-23 02:22] VictoriqueMoe commented on #648
okay, fair enough

[2022-04-23 02:24] #648 closed

[2022-04-23 02:29] oceanroleplay commented on #648
released patch of `discordx`

[2022-04-24 10:39] PoulpY2K opened #650 "[Bug]: @discordjs/opus incompatible package version with arm64 architecture"
### What happened?

After setting up my new dev environment on my Apple Mac M1, I cloned my project which uses `@discordx`. When I tried to run `npm install`, I got an error caused by `@discordjs/opus`. After looking deeper into it, I found out that `@discordx/music` uses `@discordjs/opus@0.5.3` and support for ARM64 architecture only happens in `@discordjs/opus@0.6.0`.

It breaks the whole instal

[2022-04-24 10:53] oceanroleplay commented on #650
djs opus is peer dep, so install opus and voice first, then install discordx music

[2022-04-24 10:56] oceanroleplay commented on #650
if you are not in our discord server, please join and ask for support in it. it's fast and easier to chat there.

[2022-04-24 11:15] PoulpY2K commented on #650
After discussing it on Discord, this is not a discordx problem.

Maybe it would be a good thing to add a small line in the discordx/music README to tell mac M1 users to specifically install the discordjs/opus@0.6.0 version before discordx/music.

Thank you for you time and answer !

[2022-04-24 11:15] #650 closed

[2022-04-27 23:22] OmgImAlexis opened #661 "[Bug]: DiscordAPIError: Bots cannot use this endpoint"
### What happened?

My guild was moved to v2 of the permissions system and now it's failing to start.

### Reproduction

From the demo repo.

[code]

### Package

discordx

### Version

Stable

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-04-28 00:05] oceanroleplay commented on #661
disable permission usage, discord has decommissioned  that API for ``permissions v2``, see https://github.com/discord/discord-api-docs/pull/4830

[2022-04-28 00:21] OmgImAlexis commented on #661
Can confirm removing `await client.initApplicationPermissions(true);` fixes the issue.

Would guild specific commands be effected? As in does the `Permission` decorator need to be reworked?

[2022-04-28 00:24] oceanroleplay commented on #661
we will wait for discord.js update

[2022-04-28 02:37] VictoriqueMoe commented on #661
Yes. From what I've seen, the new way is simply for us to report to discord what the default permissions are in the form of a bit mask.
This change has been made in the discord api types package.

However, discord dropped change out of nowhere and without 1 day warning removed the API for permission and every seems to be pretty mad about it.

The new way (eventually) would thag there will be one p

[2022-04-28 10:57] VictoriqueMoe commented on #661
Update:

the docs have been merged, and the API still exists, however, the reason why you where getting this error is because there is a NEW authentication needed to call the Permission set api: https://discord.com/developers/docs/interactions/application-commands#permissions

As we can see, the API is still the same https://discord.com/developers/docs/interactions/application-commands#edit-applic

[2022-05-12 23:49] OmgImAlexis opened #693 "[Feature]: PUT and PATCH decorators"
### Feature?

Currently this package has `GET`, `POST` and `DELETE` but it's missing `PUT` and `PATCH`.

### Package

@discordx/koa

[2022-05-13 00:41] OmgImAlexis commented on #693
I believe this is the change that needs to be made but I'm not super familure with this repo's code.

[code]

[2022-05-13 05:44] #693 closed

[2022-05-14 12:38] Senexis opened #697 "[Bug]: Rate limits due to patching commands"
### What happened?

After updating to Discord.js 13.7, patching slash commands will start throwing `rateLimit` events. Looking at the requests made, it seems you are using the singular PATCH endpoint instead of the probably intended PUT endpoint ([docs here](https://discord.com/developers/docs/interactions/application-commands#bulk-overwrite-global-application-commands)). I don't know if the chang

[2022-05-14 13:04] oceanroleplay commented on #697
check logs, turn of silent mode

[2022-05-14 13:10] Senexis commented on #697
Turns out it's continuously updating the same commands now, which in itself seems like another bug? I'm not doing anything different and it was skipping commands properly before. Here's the commands output:

[code]

Doesn't seem like I'm getting any other output from DX.

[2022-05-14 13:19] oceanroleplay commented on #697
ok, I would recommand, do not update your bot. I have finished the updates, and I will address this and release new minor version

[2022-05-14 23:16] OmgImAlexis opened #700 "[Feature]: support for discord-logs"
### Feature?

I'd love to see support for [discord-logs](https://www.npmjs.com/package/discord-logs) built in so I could use the `On` decorator with their added events.

### Package

discordx

[2022-05-15 12:52] oceanroleplay commented on #700
I think you can still use it, but you need to hack something like this

[code]

@VictoriqueMoe your opinion?

[2022-05-15 13:46] VictoriqueMoe commented on #700
This repo has not been updated for 9 months, that's a red flag for me

[2022-05-15 13:47] VictoriqueMoe commented on #700
That said. I like it. I just worry about how dead it is. Maybe we can fork it

[2022-05-15 14:02] Satont commented on #700
Workround:

Create `discord-logs.d.ts` file inside of your src with content:
[code]
After that both ` @On()` and `ArgsOf` will have typings with those events.

[2022-05-15 14:08] Satont commented on #700
![image](https://user-images.githubusercontent.com/42675886/168477009-8abd72ed-4d2c-4c12-a1db-f489ad1c384f.png)
![image](https://user-images.githubusercontent.com/42675886/168477016-6be8ee5d-8379-492e-8049-4b6bf2d083d6.png)

[2022-05-15 14:28] VictoriqueMoe commented on #700
well, yes, you could just extend the typings by mantianing a list yourself

[2022-05-15 14:44] oceanroleplay commented on #661
with v9.6.0, this feature is temporary disabled in discordx. We will update accordingly discord.js.

[2022-05-15 14:44] #661 closed

[2022-05-15 14:45] oceanroleplay commented on #697
resolved in v9.6.0

[2022-05-15 14:45] #697 closed

[2022-05-15 14:46] Senexis commented on #697
Not resolved yet, you should still fix the rate limits at some point if possible. The primary issue (using PATCH instead of PUT) is not resolved yet. If you just have a bunch of added or updated commands you will still hit rate limits.

[2022-05-15 14:47] oceanroleplay commented on #697
rate limit handled by discord.js internally, if it's overloaded it will end up in error.

[2022-05-15 14:48] Senexis commented on #697
I mean yeah, but this causes the updates to take ~20 seconds per 5 commands updated. Just using PUT would cut that down to milliseconds.

[2022-05-15 14:49] oceanroleplay commented on #697
I am not sure what do you mean by PUT, since requests are handled by discord.js

[2022-05-15 14:52] Senexis commented on #697
Currently in `Client.js` you do `cmd.command.edit` in a foreach, while you could just use `client.application.commands.set` to update everything at once in one request, avoiding rate limits altogether and turning `n` amount of requests into 1 request. To do this though you'll have to provide ALL commands instead of just the updated commands, but that doesn't matter anymore since Discord now instan

[2022-05-15 14:53] oceanroleplay commented on #697
oh that's great, can we do it? can you make PR 😇

[2022-05-15 21:37] OmgImAlexis commented on #700
Completely agree, in saying that I don't believe there will be much maintenance needed.

[2022-05-15 22:32] VictoriqueMoe commented on #700
However, the repo currently has open issues that are not being addressed

[2022-05-15 22:43] OmgImAlexis commented on #700
Looking at the issues I can't see any that aren't either feature requests or support. None of them look like bug reports.

[2022-05-16 06:58] oceanroleplay commented on #700
with lib working, @OmgImAlexis I think you can use it without any issue. would that resolve your issue?

[2022-05-24 14:59] Senexis opened #727 "[Feature]: Add missing nameLocalizations and descriptionLocalizations to @SlashGroup"
### Feature?

Title says it all. Currently it's not possible to customize the name localizations and description localizations of `@SlashGroup` while it should be possible to do so. [The Discord documentation](https://discord.com/developers/docs/interactions/application-commands#application-command-object-application-command-option-structure) doesn't mention anything about possible limitations on

[2022-05-25 18:56] B0tis opened #731 "[Feature]: Add a @Alias decorator"
### Feature?

with this decorator it should be easier to add aliases for a command e.g: (help, h, he...).
those aliases should be than added as a normal slash command. maybe have a look at [Golden](https://github.com/arcinsolutions/Golden/blob/aca1c6e91fd2bd7af50fbca3edbbabd159fb0e87/src/modules/handlerModule/handlerModule.js), there we implemented this already but without decorators.

### Package

[2022-05-25 19:05] drph4nt0m commented on #731
In my option, alias dont make sense for slash commands. They might be useful for normal message content based commands, but for slash commands, you can easily know the command just by typing few letters.

[2022-05-25 19:19] B0tis opened #732 "[Feature]: please add the possibility of having rate limit warnings as ephemeral"
### Feature?

please add the possibility to react with an Ephemeral Message for Rate Limits

### Package

@discordx/utilities

[2022-05-25 19:26] drph4nt0m commented on #732
1. You can send ephemeral messages as simple message without embeds.
2. Embeds are tricky case, you can't guarantee that the bot has embed permission in that channel. Plain text messages are the best. Even I wanted the ability to send embeds for rate limits warnings but i can't trust the user server permissions.

[2022-05-25 19:27] drph4nt0m commented on #732
But I agree about the possibility of having rate limit warning as ephemeral.

[2022-05-25 19:33] BotisDerG commented on #732
@drph4nt0m lol, forgot about that xD. For me it would be also enough to send limit warnings as ephemeral.
I will adjust the title and description accordingly.

[2022-05-25 19:38] oceanroleplay commented on #731
this is tricky for utilities, I would recommend create two slash commands and create single handler. suggested usage is not widely used.

[2022-05-25 20:42] B0tis commented on #731
okay, i will think about that.
I will close this Issue for now :smile:

[2022-05-25 20:42] #731 closed

[2022-05-31 20:40] oceanroleplay commented on #732
@VictoriqueMoe

[2022-05-31 20:46] VictoriqueMoe commented on #732
I'll do this when I can, currently I'm very unwell, but as soon as I'm better. I'll add it

[2022-06-06 04:30] oceanroleplay commented on #727
added in https://github.com/oceanroleplay/discord.ts/commit/7b37be0b6e44159feadf52e5bb446689e44d368f

close issue, after tested. I have not tested it!

[2022-06-06 05:10] #732 closed

[2022-06-07 11:32] Senexis opened #758 "[Feature]: Ability to customize when start/end buttons are displayed"
### Feature?

Currently the start/end buttons are only displayed if the paginator contains 10 or more items. However, since I'm using it to display articles one at a time in chronological order, I would like that to be much sooner, as soon as 3 items. Please add the ability to customize the threshold.

### Package

@discordx/pagination

[2022-06-07 12:46] #758 closed

[2022-06-07 13:17] Senexis commented on #727
Cool! I'll test it tonight!

(Thanks for the mention, I never got a notification!)

[2022-06-07 13:22] oceanroleplay commented on #758
patch released 🎉

[2022-06-08 07:58] oceanroleplay commented on #727
okay, well, it's added into discordx. so it will work. reopen or create new issue if it does not.

[2022-06-08 07:58] #727 closed

[2022-06-10 08:56] barthofu opened #761 "[Bug]: SimpleCommandOption not parsing boolean well"
### What happened?

When using the @SimpleCommandOption with a `boolean` type, the resulted parameter is not well parsed as it will always be **true**, no matter what we type.

Example:

Command on discord             |  Output
:-------------------------:|:-------------------------:
![image](https://user-images.githubusercontent.com/66025667/173029440-1052c581-e984-4e66-a103-27814aa3dc43.png)   |

[2022-06-10 13:44] #761 closed

[2022-06-10 13:45] oceanroleplay commented on #761
patch released 🎉

[2022-06-19 06:26] CoreParadox opened #774 "[Bug]: interaction type guards out of date."
### What happened?

According to: https://github.com/discordjs/discord.js/issues/8072#issuecomment-1153015242
Some checks should be replaced with interaction.type == InteractionType.[Type]

There is some desync between the dev branches of discordx and discord.js related to this issue.

### Reproduction

Try to use a modal submit action

### Package

discordx

### Version

Dev

### Relevant log out

[2022-06-19 07:50] oceanroleplay commented on #774
Hi, thanks for reporting. I see the permissions PR is merged as well. Which, we have not yet worked on. until we do, you can downgrade your djs dev version to last supported version, see package.json of discordx for that. Will try to sync as soon as possible,

[2022-06-28 03:21] #774 closed

[2022-07-02 12:12] ookamiiixd opened #795 "[Feature]: Ability to pass custom embed color to `command.sendUsageSyntax`"
### Feature?

Currently the `command.sendUsageSyntax` will generate random color for the embed color internally . It'd be great if we could also pass our own preferred color. This is useful because i want to make all embed messages has consistent color.

I could write custom functionality to achieve the same thing, but i think the `command.sendUsageSyntax` is already good enough.

So, i hope you c

[2022-07-02 13:49] oceanroleplay commented on #795
this function is just a example, I would recommend you to make your own method for respond.

[2022-07-02 13:57] ookamiiixd commented on #795
i see, thanks for your respond.

[2022-07-02 13:57] #795 closed

[2022-07-29 18:03] G33RY opened #840 "[Bug]: TypeError: Do not know how to serialize a BigInt"
### What happened?

I have installed the basic starter kit and I am getting an error:
The only thing I installed after is the `dotenv` package.

When I remove all methods with the @Slash decorator the bot starts without problem.

### Reproduction

https://github.com/G33RY/starter-app

### Package

discordx

### Version

Stable

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to

[2022-07-29 18:06] DarthJJ commented on #840
I want to second this issue. I have almost the same setup (with and without Dotenv) and I am getting the same error.

Please see this discord chat log for more info:
![image](https://user-images.githubusercontent.com/9209118/181818913-c9c7c4fd-4866-460b-94a5-da9c79f91c2d.png)

[2022-07-29 18:47] TeamWolfyta commented on #840
@G33RY Error occurs on version 16 of node, If your on that version (check using node -v) then try the next version, Node Version 17 or 18

[2022-07-29 19:03] DarthJJ commented on #840
@TeamWolfyta I tried this,
Update to 18.7.0. Updated all dependencies, clean build. and still the same error.

[2022-07-29 19:52] MatthieuLeboeuf commented on #840
Hello
I have the same issue with node version 18

[2022-07-30 01:03] oceanroleplay commented on #840
please read this to understand issue in depth https://dev.to/benlesh/bigint-and-json-stringify-json-parse-2m8p

and use this solution for now, https://github.com/oceanroleplay/discord.ts/blob/main/packages/discordx/examples/permission/main.ts#L9

[2022-07-30 08:54] DarthJJ commented on #840
Can confirm the workaround seems to be working. thanks @oceanroleplay

[2022-07-30 09:00] G33RY commented on #840
Its working for me too. Thank  you.

[2022-07-30 09:00] #840 closed

[2022-08-04 05:58] Waujito opened #843 "[Feature]: I recommend you to transfer project from single repository to organisation"
### Feature?

This project is very large with lots of packages. And I think, it would be better if you transfered this in to organisation from single repo. In organisation you can split this project as packages.

### Package

discordx

[2022-08-04 06:23] oceanroleplay commented on #843
I wish, but unable to get the org username, I wish for.

[2022-08-04 06:26] Waujito commented on #843
`discord_ts`, `discord_x`, `discord-x`, `discordtsx` names are free

[2022-08-04 06:34] oceanroleplay commented on #843
except `discordtsx`, others are not available.

[2022-08-04 06:34] drph4nt0m commented on #843
I would also like to suggest, `xdiscord`, `discordtx`

[2022-08-04 06:35] oceanroleplay commented on #843
nope, that will be `discordx-xxx` because @VictoriqueMoe won't agree without it 😅

[2022-08-04 06:36] drph4nt0m commented on #843
I actually checked discordxxx, but it is taken. :(

[2022-08-04 06:38] oceanroleplay commented on #843
`discord-ts` could be our name, but the owner of that account has not agreed to give up the name.

[2022-08-04 06:41] drph4nt0m commented on #843
I personally would want to avoid `-`s. They are just so irritating when typing URLs.

[2022-08-04 10:55] TeamWolfyta commented on #843
You might be able to email GitHub requested an account like `discordx ` be removed so you can use it, I don't know if GitHub does this but some services will remove inactive / abandoned accounts to make way for new / active accounts to use the name.

[2022-08-04 10:59] drph4nt0m commented on #843
I dont think they will do that. Because there was big attack similar to this recently because of few popular python packages who's original authors deleted their GitHub accounts and someone else "hijacked" that account and put malicious code into those packages via their account. It's complicated. Ref: https://www.theregister.com/2022/05/24/pypi_ctx_package_compromised/

[2022-08-04 11:00] TeamWolfyta commented on #843
Hmmm didn't know, I mean `discord.ts` is very active and with a fair few people backing it whereas the user `discordx`, They might consider that.

[2022-08-04 11:01] drph4nt0m commented on #843
Yeah. Maybe. But its very hard to convince them.

[2022-08-04 12:15] TeamWolfyta commented on #843
I guess we'll see what @oceanroleplay want's to do.

[2022-08-04 12:16] drph4nt0m commented on #843
@oceanroleplay wants to use `discord-xxx` 👀

[2022-08-04 14:16] VictoriqueMoe commented on #843
I have talked about this before. and while i agree we should move to an organisation. we need to get the name right, and currently, all the ones we want are taken.

`discord-xxx` is great, only because i am bias.

but we can always name it something less abstract.

I am happy to pay for a paid `Team` account for it. let me know the name and i can create it and assign @oceanroleplay as the owner

[2022-08-04 14:27] TeamWolfyta commented on #843
+1 for discord-xxx 😀

[2022-08-04 14:28] VictoriqueMoe commented on #843
![image](https://user-images.githubusercontent.com/27996712/182872340-e90bf815-f66c-49d7-926a-1e16fe08310e.png)

[2022-08-04 14:54] oceanroleplay commented on #843
first, `discord.ts`, then `discordx` and now, `discord-xxx`. I would say, sorry. I am not ready for the change.

[2022-08-04 14:56] oceanroleplay commented on #843
@VictoriqueMoe maybe you should try with owner of `discord-ts`. Maybe offer him some money... or something...

[2022-08-04 15:02] VictoriqueMoe commented on #843
I shall flirt with him and offer him things.

We have to change, sorry, Harry, but i agree, we need to do it.

[2022-08-04 20:03] kaname-png commented on #843
Better merge both names.
[code]
And good news, that name is available.

[2022-08-04 23:09] TeamWolfyta commented on #843
Not a bad name actually, Would fix the confusing problem where the repo name is called discord.ts but the package is called discordx xD

[2022-08-05 04:12] eternalfusion commented on #843
`tsx` confuses with `.tsx` file extension which means `jsx` notation in TypeScript used by `React` for example

[2022-08-05 05:57] drph4nt0m commented on #843
Package is already `discordx`. Let's make the repo organization as `xdiscord`.

[2022-08-06 03:21] oceanroleplay commented on #843
@Waujito I would like yo inform you that this concern is under consideration since months, we will move to organization in near future. Thanks for reaching out us for this.

[2022-08-06 03:21] #843 closed

[2022-08-06 06:34] eternalfusion opened #844 "[Bug]: SlashGroup subcommands and subgroups doesn't inherit dmPermission and defaultMemberPermissions"
### What happened?

SlashGroup subcommands and subgroups defined by [guidelines](https://discord-ts.js.org/docs/decorators/commands/slash-group/) doesn't inherit `dmPermission` and `defaultMemberPermissions` to it's child (if it even neccessary) and itself, so `MetadataStorage.instance.applicationCommandSlashes` output says it's undefined for `defaultMemberPermissions ` and default for `dmPermissi

[2022-08-06 07:27] #844 closed

[2022-08-17 08:50] ugnelis opened #853 "[Bug]: SyntaxError: Unexpected token '&&='"
### What happened?

After running commands:

[code]

I get this error:

[code]

### Reproduction

[code]

### Package

@discordx/internal

### Version

Stable

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-08-17 08:52] oceanroleplay commented on #853
what's your node version?

[2022-08-17 09:00] ugnelis commented on #853
The problem was with node version

[2022-08-17 09:00] #853 closed

[2022-08-19 10:40] VictoriqueMoe opened #857 "[Bug]: Infered Slash command names from functions needs validation"
### What happened?

When you use `@Slash` without a `name` prop, the name of the command is taken from the method name.

This is fine, but `@Slash` validation (caseing, etc..) is done purely by TS typing and not actual code. this means if you have the following simple code:

[code]

Then you will get a very cryptic error from the Discord API (and we all know how fun Discord API errors are)..

this

[2022-08-19 11:30] oceanroleplay commented on #857
I am aware about this, inference should be done at developers own risk.

[2022-08-19 11:31] oceanroleplay commented on #857
I think would be good to put this as warning in docs

[2022-08-19 11:32] drph4nt0m commented on #857
I think since we are making it default to use the function name as command name (the specific name is there but its not default), we should handle it somehow from the package level also.

[2022-08-19 11:32] oceanroleplay commented on #857
we can't replicate discord validation

[2022-08-19 11:32] oceanroleplay commented on #857
at least not perfectly

[2022-08-19 11:56] VictoriqueMoe commented on #857
we can replicate the SAME validation as done in the typing, this is important for consistency and urge it to be done

[2022-08-19 12:15] oceanroleplay commented on #857
I am not sure, how to make one, so I can't help it.

[2022-08-19 12:26] VictoriqueMoe commented on #857
I think having just enforcing the case is enough for now

[2022-08-19 13:15] oceanroleplay commented on #857
this will resolve the issue, there are x reasons for this type of problems, if we deal with some validation, we will just end up creating more x problems. so a simple warning for those, who are not familiar would be good.

[2022-08-19 13:15] VictoriqueMoe commented on #857
Didn't you create the validation in the typing? just use that but as code.

[2022-08-19 13:38] oceanroleplay commented on #857
type validation something, help while code. discord is returning error same as we return error, in runtime. I see no useful point of doing validation in dx.

idk, type are not codes.

[2022-08-19 14:07] VictoriqueMoe commented on #857
take the same logic you used to create the types and put it into code. if your argument is "we can't replicate discord validation" then why did you go through so much effort to make a massive complex TS type to validate it?

[2022-08-20 17:06] #857 closed

[2022-08-22 13:18] oceanroleplay opened #859 "[Feature]: add koa documentations"
### Feature?

add koa documentations

- [ ] type/package installations
- [ ] decorators docs

### Package

@discordx/koa

[2022-08-27 06:33] NightSling opened #861 "[Feature]: Add support to default values for not required slash parameters."
### Feature?

It'd be great if `@SlashOptions` had a default object property that'll automatically be set if the option is not required and not value for the option is provided.

### Package

discordx

[2022-08-27 15:40] oceanroleplay commented on #861
Sorry, but this is unnecessary for discordx. Please use solutions like this instead
[code]

[2022-08-27 15:40] #861 closed

[2022-08-28 07:07] #859 closed

[2022-08-31 18:23] NoFailer opened #864 "[Bug]: Lower case categories"
### What happened?

The categories under [Decorators](https://discordx.js.org/docs/discordx/decorators/) in the docs are all lower case. I know it is not really a "bug" but it is not a "feature" or "security risk" either but those are the only 3 options I have to create an issue.

![image](https://user-images.githubusercontent.com/53854947/187751636-c6735d13-86c4-4a1d-9eed-b497d4ed217e.png)

As yo

[2022-09-02 02:59] #864 closed

[2022-09-04 10:59] B0tis opened #865 "[Feature]: add the commandID to "DApplicationCommand""
### Feature?

Hi, I would like to mention Slash commands in my bot message and that via "MetadataStorage" but I noticed that the commandID is not there yet.

I would be very kind if you could add this feature.

### Package

discordx

[2022-09-04 11:01] oceanroleplay commented on #865
command id is not something our library create, it is snowflake id generated by discord. You can fetch discord commands to retrieve application command id.

[2022-09-04 11:12] B0tis commented on #865
lol, thx

[2022-09-04 11:12] #865 closed

[2022-09-11 16:27] B0tis opened #866 "[Feature]: Add Rate Limit to buttons"
### Feature?

Hi, currently it is possible to Rate Limit the usage of commands but not from Button Interactions.

It would be nice that this Feature would be added if possible :)

### Package

@discordx/utilities

[2022-09-11 16:45] TeamWolfyta commented on #866
Are you wanting to know if there is a way to rate limit buttons or commands ?

[2022-09-11 17:46] B0tis commented on #866
For Buttons, it would be nice to know, for Commands it's already possible

[2022-09-11 17:53] TeamWolfyta commented on #866
I know something for commands already exists, It's just the way you phrased your message was a bit all over the place.

Why would you need a rate limit for buttons ? In some way discord makes you wait a bit before each button press anyways.

[2022-09-11 18:10] B0tis commented on #866
Well, I would like to have the possibility that the User can only use the Button once every Minute...

[2022-09-11 18:14] TeamWolfyta commented on #866
Have you tried using `@RateLimit` on a button since if I remember correctly button has a interaction parameter which is what `RateLimit` uses ?

[2022-09-11 18:18] TeamWolfyta commented on #866
Yup, `RateLimit` works on buttons.

[2022-09-11 18:29] B0tis commented on #866
could you send me a Screenshot how you did that, i just get an error lol

[2022-09-11 18:34] TeamWolfyta commented on #866
I already deleted the temp project I did it in but all's I did was:

[code]

[2022-09-11 18:37] B0tis commented on #866
ahhh lol, thx forgot the @Guards xD

[2022-09-11 18:37] #866 closed

[2022-11-01 04:03] ay0ks opened #891 "[Bug]: Bot is not responding to commands, nor seeing any new messages in an event"
### What happened?

Bot is not responding to any of the commands, nor seeing any new messages in the `messageCreate` event.
![Screenshot_2022-11-01-04-58-48-755_com aliucord](https://user-images.githubusercontent.com/43708417/199155945-5db3372b-ea2c-4ed1-a799-1e26d65b21c2.png)
![Screenshot_2022-11-01-04-59-01-886_com termux](https://user-images.githubusercontent.com/43708417/199155956-43a95f47-beb

[2022-11-01 12:22] oceanroleplay commented on #891
try `IntentsBitField.Flags.MessageContent` intent

[2022-11-03 03:16] oceanroleplay commented on #891
Let me know if it work out and use our discord server for more support.

https://discordx.js.org/discord

[2022-11-03 03:16] #891 closed

[2022-11-07 12:25] sncelta opened #894 "[Bug]: TypeError [ERR_UNKNOWN_FILE_EXTENSION]: Unknown file extension ".ts""
### What happened?

run main.ts using ts-node;

### Reproduction

ts-node main.ts

tsconfig.json: `{
  "compilerOptions": {
    "target": "ESNext",
    "module": "ESNext",
    "outDir": "build",
    "rootDir": "src",
    "strict": true,
    "moduleResolution": "Node",
    "allowSyntheticDefaultImports": true,

    "experimentalDecorators": true,
    "emitDecoratorMetadata": true,

    "skipLibChec

[2022-11-07 12:27] Satont commented on #894
Did you tried `ts-node --esm src/main.ts`?

[2022-11-07 12:37] sncelta commented on #894
Thanks! Solved it.

[2022-11-07 12:38] #894 closed

[2022-11-29 17:17] ShoGinn opened #898 "[Bug]: @discordjs/ws@0.5.0 -- Part of discord.js (14.7.0) deprecated SelectMenu"
### What happened?

Using discord.js 14.7.0 -- a deprecation warning was displayed, this is shown during any Select Menu.

Ref:
https://github.com/discordjs/discord.js/commit/5152abf7285581abf7689e9050fdc56c4abb1e2b

### Reproduction

Use Pagination, or any DiscordX client to reproduce.

This pertains to Discordx and discordx/pagination

### Package

@discordx/pagination

### Version

Stable

###